<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TP ENI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/tp-table.css">
    <link rel="icon" href="/images/logoENI.png">
</head>
<body>
<!-- Navbar -->
<header>
    <h1 id="nav-title">
        <a href="/">Filmothèque</a>
        <th:block data-th-if="${userSession != null}">
            <span data-th-text="'['+ ${userSession.firstName}+']'"></span>
        </th:block>
    </h1>
    <nav>
        <ul>
            <li><a href="/movies">Films</a></li>
            <li><a href="/movies/create">Nouveau Film</a></li>
            <th:block data-th-if="${userSession == null}">
                <li><a href="/login">Connexion</a></li>
            </th:block>
            <th:block data-th-if="${userSession != null}">
                <li><a href="/logout">Déconnexion</a></li>
            </th:block>
        </ul>
    </nav>
</header>
<main>
    <h1>Les films de l'ENI</h1>
    <div th:if="${messageSucces}" class="alert alert-success text-center">
        [[${messageSucces}]]
    </div><div th:if="${messageError}" class="alert alert-danger text-center">
    [[${messageError}]]
</div>
    <form th:action="@{/opinions/add}" th:object="${opinion}" method="post">
        <h1 data-th-text="${'Ajouter un avis au film : ' + selectedMovie.title}"></h1>
        <ul class="flex-outer">
            <li><label for="inputNote">Note : </label>
                <input type="number"  min="0" max="5" id="inputNote"  data-th-field="*{note}" required/></li>
            <li><label for="taComment">Commentaire : </label>
                <textarea id="taComment" data-th-field="*{comment}" rows="3" required>
				</textarea>
            </li>
            <li>
                <button type="submit">Enregistrer</button>
            </li>
        </ul>

    </form>

</main>
</body>
</html>